/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #13101a;
        color: #fff;
    }

    blockquote {
	background: #222026;
    }

    a {
	color: #967dc7;
    }

    header {
	border-bottom: 2px dotted #967dc7;

    }

    .article-meta, .menu a {
	color: #fff;
	border-bottom: 1px solid #967dc7;

    }

    pre {
	border: 2px solid #967dc7;
	background-color: #000;
    }

    code {
	color: #ddd;
	padding: .3em;
	background-color: #000;
    }
    
    header a:hover,
    header .current a {
	color: #fff;
    }

    footer {
	border-top: 2px dotted #967dc7;
    }

    hr {
	color: #967dc7;
    }
    
    table {
	margin: auto;
	border-top: 1px solid #967dc7;
	border-bottom: 1px solid #967dc7;
    }
    table thead th { border-bottom: 1px solid #967dc7; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #666 }

    .invertimg {
	filter: invert(1);
    }

}

/* Light mode */
@media (prefers-color-scheme: light) {
    blockquote {
	background: #e6e6e6;
    }

    a {
	color: #5f439c;
    }

    header {
	color: #000;
	border-bottom: 2px dotted black;
    }
    header a {
	color: #000;
    }

    .article-meta, .menu a {
	color: #000;
	border-bottom: 1px solid #666;

    }

    header a:hover,
    header .current a {
	color: #5f439c;
    }

    footer {
	border-top: 2px dotted #000;
    }

    hr {
	color: #666;
    }


    pre {
	border: 2px solid #000;
	background-color: #fff;
    }

    code {
	background-color: #666;
	padding: .3em;
    }
    
    table {
	margin: auto;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
    }
    table thead th { border-bottom: 1px solid #ddd; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #eee }

}

body {
    max-width: 55rem;
    margin: auto;
    padding: .2em;
    line-height: 1.5em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: .9em;
}

br {
    display: block;
    content: "";
    margin-top:.5em;
}

hr {
    
}

.menu li { display: inline-block; }
.menu a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border-style: dotted;
    border-width: 1px;
    margin-bottom: 20px;
}

.terms { font-size: .8em; }
.menu { text-align: center; }
.title { font-size: 1.0em; }

.pull-left {
    float: left
}
.pull-right {
    float: right
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: relative;
    width: 100%;
    height: 1.75rem;
    font-size: 1rem;
    display: table;
}

header ul,
header ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
header nav {
    padding: 0 0.5rem;
}

header a {
    line-height: 1.75rem;
    padding: 0 0.5rem;
}

pre {
    padding: 1em;
    overflow-x: auto;
}
pre code { background: none; }

img, iframe, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    hyphens: auto;
    max-width: 65em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7em;
    hyphens: auto;
    display: block;
    font-size: 1.1em;
}
main a {
    font-weight: bold;
}

blockquote {
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

.content-wrapper {
    padding: 0px 12px 0px 12px;
}

#profileimg {
    min-width: 40px;
    float: right;
    border-radius: 50%;
    display: block;
    border: 2px solid #000;
    filter: drop-shadow(.1rem .1rem 0.5rem #000);
}

footer {
    margin-top: auto;
    padding: 0 1rem 0 1rem;
}

footer > p {
    max-width: 65rem;
    font-size: small;
    margin: 1rem auto 1rem auto;
}
footer > div {
    max-width: 65rem;
    font-size: small;
    margin: 1rem auto 1rem auto;
}

a.licenseblock {
    display: inline-block;
}

img.licenselogo {
    display: inline;
    height: 1.25em!important;
    margin-left: 3px;
    vertical-align: text-bottom;
}
